BASE_MAINNET_RPC_URL=https://mainnet.base.org
ETHERSCAN_API_URL=https://api.etherscan.io/v2/api?chainid=8453
PRIVATE_KEY=
ETHERSCAN_API_KEY=

AET_ADMIN=
AET_TREASURY=
AET_INITIAL_RECIPIENT=
AET_INITIAL_SUPPLY=100000000000000000000000000
AET_SUPPLY_CAP=1000000000000000000000000000
AET_REWARDS_DURATION=2592000
AET_UNSTAKE_COOLDOWN=86400
AET_MIN_STAKE_TO_PLAY=100000000000000000000
AET_ENTRY_FEE=1000000000000000000
AET_STAKE_BOOST_CAP_BPS=2000
AET_MAX_SEASON_ROUND=1000
AET_ACTION_TIMEOUT=900
AET_CLAIM_PERIOD=604800
